<div class="container mt-5">
  <div class="row">
    <div class="col text-center">
      <div class="title-description">
        <h1 class="taskly">TASKLY</h1>
        <p>All your to-do lists in one place: manage your lists, tasks, and more with Taskly.</p>
      </div>

      <div class="mt-4">
        <a class="btn btn-primary mx-2" href="/lists">View Lists</a>
        <a class="btn btn-primary mx-2" href="/admin/list/create">Add New List</a>
        <a class="btn btn-primary mx-2" href="/admin">Manage Lists</a>
      </div>
      
    </div>
  </div>
</div>


<div class="row">
    <div class="col-lg-8">
        <h1>Latest Lists</h1>
    </div>
</div>

{{>toDoCard}}


